html, 
body {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {background-color: rgb(0, 8, 119); color:aliceblue;

}

body {
    min-height: 100vh;
    background: linear-gradient(to bottom left, green, gray);
}

main {
    background-color: rgba(201, 201, 201, 0.767);
    margin: 20px;
    padding: 25px;
}

h1 {
    margin: 0;
    padding: 25px;
}

/* Controls and Message Styles */
.controls {
    padding: 20px;
    border: 1px solid black;
}

.message-container {
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    font-weight: bold;
}

button {
    font-size: 1.5em;
    margin-right: 10px;
    border-radius: 10px;
}

#flip,
#roll {
    background: linear-gradient(to bottom left, rgb(95, 252, 129), white);
}

#flip:hover,
#roll:hover {
    background: linear-gradient(to bottom left, rgb(25, 183, 211), lightblue);
}

#clear {
    background: linear-gradient(to bottom left, rgb(255, 142, 134), white);
}

#clear:hover {
    background: linear-gradient(to bottom left, red, rgb(189, 54, 54));
}

/* Scoreboard Styles */
table, 
th, 
td {
    border: 1px solid rgb(0, 133, 60);
    margin: 0 auto;
}

td {
    padding: 5px;
    font-weight: bold;
}